/*
  1920×1080 (8.89%)
  1366×768 (8.44%)
  360×640 (7.28%)
  414×896 (4.58%)
  1536×864 (3.88%)
  375×667 (3.75%)
*/


$primary_text: #fff;
$primary_border: #333D79FF;

h2 {
  text-align: center;
}

.App-header {
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
  font-size: calc(10px + 2vmin);
  color: $primary_text;

  border: 10px;
  border-color: $primary_border;
  border-style: double;
  border-radius: 500px;
  width: 50%;

  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $primary_border;
}

#main-div {
  margin: 10px;
  padding: 10px;
	display : flex;
  flex-direction: row;
	justify-content : space-between;
  color: $primary_text;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $primary_border;
}

#avail {
  color: #68ff62;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #87c384;
}

.child-div {
    text-align : center;
    border : 1px solid black;
    width: 30%;
    border: 10px;
    border-color: $primary_border;
    border-style: double;
    border-radius: 20px;
}

ul {
  list-style: none;
}

.nav-style {
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $primary_border;
}

@media all and (max-width: 1100px) {
  .App-header {
    width: 100%;
  }

  #main-div {
	display : flex;
  flex-direction: column;
  }
  .child-div {
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
  }

  .user {
    display: inline-block;
    width: 150px;
    height: 200px;
    
    border: 3px;
    border-color: $primary_border;
    border-style: solid;
    border-radius: 50px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .one {
    background-image: url("./images/me.JPG");
  }
  
}