/*
  1920×1080 (8.89%)
  1366×768 (8.44%)
  360×640 (7.28%)
  414×896 (4.58%)
  1536×864 (3.88%)
  375×667 (3.75%)
*/


$primary_text: #fff;
$primary_border: #000;
$secondary_color: #d7edad;
$icon_link: rgb(173, 255, 156);

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  

  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $primary_border;
}

header p {
  font-size: 0.7em;
  text-align: center;
  margin: 0;
  padding: 0;
}

i {
  display: flex;
  margin: 20px 30px 0 0;
  font-size: 2em;
  color: $icon_link;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
}

a {
  text-decoration-color: $icon_link;
  color: #000;
  position: relative;
  bottom: 4px;
}

p {
  a {
  -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: $primary_border;
  }
}

ul {
  list-style: disc;
  color: #000;

  li {
      text-align: center;
      list-style: none;
  }
}

.flex-display {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.App-header {
  background-color: rgba(230, 230, 230, 0.7);
  font-size: calc(10px + 2vmin);
  color: $secondary_color;
}

.resume {
  top: 5px;
  font-size: 1.5em;
}

.main-div {
  margin: 10px;
  padding: 10px;
	display : flex;
  flex-direction: row;
  justify-content:space-evenly;
  color: $primary_text;
}

.avail {
  color: #000;
  margin: 0;
  padding: 0;
}

.about-skills {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
    h2 {
      
    color: $secondary_color; 
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $primary_border;
    }
    color: #000;
    text-align : center;
    padding: 10px;
    border: 3px;
    border-color: $primary_border;
    border-style: solid;
    border-radius: 20px;
    background-color: rgba(230, 230, 230, 0.7);
}

.about-face {
  display: flex;
  width: 70%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.projects {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
    h2 {
      
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $primary_border;
    }
  color: $secondary_color;
  text-align : center;
  border : 3px solid black;
  border-color: $primary_border;
  border-radius: 20px;
  overflow: auto;
  background-color: rgba(197, 197, 197, .7);
}

.link-style {
  font-size: .7em;
  text-decoration: none;
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $primary_border;
}

.user {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-right: 20px;
  
  border: 3px;
  border-color: $primary_border;
  border-style: solid;
  border-radius: 50px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url("./images/me.JPG");
}

table {
  width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
  a {
  font-size: .7em;
  }
  p {
    font-size: .7em;
    margin: 0;
    padding: 0;
  }
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

thead {
	th {
		background-color: #000;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $primary_border;
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(220, 220, 220, 0.72);
				z-index: -1;
			}
		}
	}
}

/* Pulse Shrink */
@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@media all and (max-width: 1100px) {
  .App-header {
    width: 100%;
  }

  .main-div {
	display : flex;
  flex-direction: column;
  }
  .about-skills, .projects {
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
  }

  .user {
    display: inline-block;
    width: 150px;
    height: 200px;
    
    border: 3px;
    border-color: $primary_border;
    border-style: solid;
    border-radius: 50px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .one {
    background-image: url("./images/me.JPG");
  }
  
}